@*@model List<MvcOrnek.Models.Product>*@
<h3>-------------VİEWBAG----------</h3>
<ul>
    @*@foreach (var product in Model)
        {
            <li>
                @product.ProductName
            </li>
        }*@


    @* Dinamik olarak verimi taşıdım. -viewbag le*@

    @foreach (var product in ViewBag.products as List<MvcOrnek.Models.Product>)
    {
        <li>
            @product.ProductName

        </li>
    }

</ul>
<h3>-------------VİEWDATA----------</h3>
<ul>
    @foreach (var product in ViewData["products"] as List<MvcOrnek.Models.Product>)
    {
        <li>
            @product.ProductName

        </li>
    }
</ul>